@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;1000;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;1000;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,1000;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,1000;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,1000;0,500;0,600;0,700;0,800;1,300;1,1000;1,500;1,600;1,700;1,800&family=Zen+Kaku+Gothic+New:wght@300;1000;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;1000;500;700;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h10,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides {
  position: relative;
  width: 90%;
  left: -100px;
  opacity: 0;
}
@media (max-width: 768px) {
  .slides {
    width: 100%;
    left: 0px;
  }
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background: #b3afb3;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b3afb3;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 30px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
table {
  font-family: "Poppins", sans-serif;
}
.path1 {
  border: 2px solid red;
}
